Header{
  content: '/cloud/coCloudPage.css'
}
{$i FontFace.css}
html, body {
  background-color:gray;
}
{$i TopNavBar.css}
div.TemplateComponents{
  position: absolute;
  margin: 0px;
  padding: 0px;
  display: block;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
div.cmpWrapper{
  display:block;
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  background-image: url('/core/vdm/imgs/slds/gph.jpg');
}
div.vdmWrapper{
  position:absolute;
  display:block;
  top: 52px;
  left:0px;
  right:0px;
  bottom:0px;
}
div.CloudPageScreen{
  display:none;
  position: absolute;
  top: 0px;
  left:0px;
  bottom:0px;
  right:0px;

  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;

  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;

  opacity: 0;

  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
div.frmCloudPage{
  display: block;
  position:absolute;

  border: 0px solid rgba(0,0,0,0);

  border-top-width:0px;
  border-left-width: 0px;
  border-right-width:0px;
  border-bottom-width:0px;

  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;

  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;

  top: 0px;
  left: 0px;
}
div.bdrCloudPage{
  display: block;
  position:absolute;

  border: 0px solid rgba(0,0,0,0);

  border-top-width:0px;
  border-left-width: 0px;
  border-right-width:0px;
  border-bottom-width:0px;

  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;

  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;

  top: 0px;
  left: 0px;
}
div.flmCloudPage{
  display: block;
  position:absolute;
}
div.cltCloudPage{
  display: block;
  position:absolute;

  border: 0px solid rgba(0,0,0,0);

  border-top-width:0px;
  border-left-width: 0px;
  border-right-width:0px;
  border-bottom-width:0px;

  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;

  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;

  top: 0px;
  left: 0px;
}
div.Cloud{
  display:block;
  position:absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  background-image:url(/images/logo/dark/lgo.svg);
  background-size:27%;
  background-repeat:no-repeat;
  background-position: center;

  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
div.CloudPageScreenTopBar{
  display: block;
  position: absolute;
  padding-top: 4px;
  padding-bottom:4px;
  padding-left: 4px;
  padding-right:4px;
  height: 50px;

  background-color:rgba(57,57,57,.7);
}
div.CloudPageScreenViewsTopBarImage{
  display:block;
  position:absolute;
  width: 70px;
  height: 50px;
  background-size: contain;
  background-image:url('/images/logo/dark/lgo.png');
}
div.CloudPageScreenViewsTopBarLabel{
  top: 24px;
  left: 105px;
  display:block;
  position:absolute;
  color: rgba(255,255,255,.7);
  text-shadow: rgba(0,0,0,1) 1px -1px 2px, rgba(0,0,0,1) 1px 1px 2px;
  font-size: 30px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom:4px;

}
div.CloudPageScreenImageBar{
  display:block;
  position:absolute;
  padding-top: 4px;
  padding-bottom:0px;
  height: 275px;
  background-color:rgba(255,255,255,.17);
}
div.CloudPageScreenImageBarWrapper{
  display:block;
  position:absolute;
  width: 557px;
  height: 300px;
  background-color:rgba(255,255,255,.17);
}
div.CloudPageScreenImageBarGlyph1{
  display:block;
  position:absolute;
  width: 300px;
  background-image:url('/images/rack.jpg');
  background-size:cover;
  background-position:center;
  padding-left: 0px;
  padding-right:0px;
  border-left: 2px solid rgba(0,0,0,.25);
  border-left-width:2px;
  border-bottom: 2px solid rgba(0,0,0,.25);
  border-bottom-width:2px;
  border-bottom-left-radius: 4px;
}
div.CloudPageScreenImageBarGlyph2{
  display:block;
  position:absolute;
  width: 250px;
  margin-left: 0px;
  padding-left: 4px;
  padding-right:4px;
  background-size:cover;
  background-position:center;
  border-left: 2px solid rgba(0,0,0,.25);
  border-left-width:2px;
  border-right: 2px solid rgba(0,0,0,.25);
  border-right-width:2px;
  border-bottom: 2px solid rgba(0,0,0,.25);
  border-bottom-width:2px;
  white-space:normal;
  background-color:rgba(255,255,255,.7);

}
div.CloudPageScreenImageBarGlyph3{
  display:block;
  position:absolute;
  padding-left: 0px;
  padding-right:0px;
  width: 300px;
  background-image:url('/images/ppl/square/hands.jpg');
  background-size:cover;
  background-position:center;
  border-right: 2px solid rgba(0,0,0,.25);
  border-right-width:2px;
  border-bottom: 2px solid rgba(0,0,0,.25);
  border-bottom-width:2px;
  border-bottom-right-radius: 4px;
}
p.CloudPageImageBarHeader{
  line-height: 25px;
  color: rgba(7, 7, 7, 1);
  text-shadow: rgba(7, 7, 7, 0.79) 0.1em 0.1em 0.2em;
  font-size: 27px;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 7px;
  margin-right: 7px;

}
p.CloudPageImageBarText{
  color: rgba(0,0,0,.7);
  text-shadow: rgba(0,0,0,0.1) 1px -1px 2px, rgba(0,0,0,.1) 1px 1px 2px;
  font-size: 13px;

  margin-top: 7px;
  margin-bottom: 7px;

  margin-left: 7px;
  margin-right: 7px;

}

div.CloudPageScreenFooter{
  display: block;
  position:absolute;
  height: 32px;
  background-color:rgba(57,57,57,.7);
}
div.CloudPageScreenFooterGlyph{
  display: block;
  position:absolute;
  height: 32px;
  width: 32px;
  background-image:url('/core/vdm/imgs/icns/lgo.png');
  background-size:80% 80%;
  background-position:center;
  background-repeat:no-repeat;
}

div.CloudPageScreenFooterContent{
  display: block;
  position:absolute;
}
p.CloudPageScreenFooter{
  color: #EFEED7;
  text-shadow: rgba(7, 7, 79, 0.79) 0.1em 0.1em 0.2em;
  font-size: 11px;
  line-height:20px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;

}

div.CloudPageScreenViews{
  display: block;
  position: absolute;
}
div.CloudPageScreenShowCase{
  display: block;
  position: absolute;
  border: rgba(0,0,0,.25) solid 2px;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
}
div.CloudPageScreenShowCaseScroller{
  overflow:hidden;
}
div.CloudPageScreenShowCaseSpacer{
  display: block;
  position:absolute;
  height: 55px;
}
div.CloudPageScreenSpacer{
  display: block;
  position: absolute;
  height:5px;
}
div.CloudPageScreenSpacerLine{
  display: block;
  position: absolute;

  background: linear-gradient(45deg, rgba(0,0,0,.2) 25%, rgba(0,0,0,.4) 25%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.2) 50%, rgba(0,0,0,.2) 75%, rgba(0,0,0,.4) 75%);
  background-size:18px 18px;
}
div.CloudPageContentWrapper{
  display:block;
  position:absolute;
  background-color: rgba(255,255,255,.17);
}
div.CloudPageScreenSignupShowCaseShowCaseButtons,
div.CloudPageScreenShowCaseShowCaseButtons{
  background-color: rgba(100,100,100,.7);
  box-shadow: rgba(0,0,0,1) 3px 3px 5px, rgba(0,0,0,1) -3px 3px 5px;
  margin-top:-40px;
}
div.ShowCaseButtonSelected,div.ShowCaseButton{
  padding-left: 8px;
  padding-right : 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

div.CloudPageContentBoxItem{
  background-color:rgba(255,255,255,.7);

  border-color:rgba(0,0,0,.37);

  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;

  border-radius:2px;
  border-top-right-radius:40px;

}
div.CloudPageContentBoxItemTitle{
  padding-left:7px;
}
div.CloudPageContentBoxItemIcon{
  height:80px;
  width: 80px;
  top:-18px;
  margin-top:-30px;
  margin-right:0px;
  margin-left: 2px;
  background-position: center;
  background-size: contain;
  background-color:rgba(0,0,0,.2);
  border-radius:40px;
  box-shadow:rgba(0,0,0,1) 0px 0px 3px;
  background-repeat: no-repeat;
}
div.CloudPageContentBoxItemTitleDecoTop{
  height: 2px;

  margin-left:7px;
  margin-right:85px;
  margin-bottom:0px;
  border-radius: 1px;

background: -moz-linear-gradient(left,  rgba(33,33,33,0.7) 0%, rgba(73,73,73,0.5) 50%, rgba(33,33,33,0.7) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(33,33,33,0.7)), color-stop(50%,rgba(73,73,73,0.5)), color-stop(100%,rgba(33,33,33,0.7)));
background: -webkit-linear-gradient(left,  rgba(33,33,33,0.7) 0%,rgba(73,73,73,0.5) 50%,rgba(33,33,33,0.7) 100%);
background: -o-linear-gradient(left,  rgba(33,33,33,0.7) 0%,rgba(73,73,73,0.5) 50%,rgba(33,33,33,0.7) 100%);
background: -ms-linear-gradient(left,  rgba(33,33,33,0.7) 0%,rgba(73,73,73,0.5) 50%,rgba(33,33,33,0.7) 100%);
background: linear-gradient(to right,  rgba(33,33,33,0.7) 0%,rgba(73,73,73,0.5) 50%,rgba(33,33,33,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3212121', endColorstr='#b3212121',GradientType=1 );

}
p.CloudAppOverViewText{
  color: rgba(0,0,0,.7);
  text-shadow: rgba(0,0,0,0.1) 1px -1px 2px, rgba(0,0,0,.1) 1px 1px 2px;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:7px;
  padding-right:7px;
}
ul.CloudAppList{
  font-size: 14px;
  font-weight:normal;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top:10px;
  padding-bottom:10px;

  line-height:22px;
  text-align:left;
  list-style-position: outside;

  overflow:hidden;
}
li.CloudAppList{
  margin-top: 4px;
  margin-bottom:4px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left:5px;
  padding-right:5px;

  text-align:left;
}
p.CloudAppListNote{
  font-size: 14px;
  margin-left: 34px;
  margin-right: 34px;
}
div.CloudPageContentBoxItems{
  background-color: rgba(255,255,255,.37);
}
